body {
    background: #075d70;
    background: linear-gradient(268deg, rgba(7, 93, 112, 1) 0%, rgba(0, 191, 255, 1) 99%);
}
.title {
    margin: 10px;
    padding: 10px;
}
.img {
    padding: 10px;
    margin: 20px;
    display: flex;
    gap: 15px;
    
}

hr {
    color: black;
    border-color: black;
}

.images {
    display: flex;
    width: 60;
    padding: 15px;
    margin: 15px;
    margin-left: 20px;
}

#profile {
    list-style-position: inside;
    list-style-type: upper-roman;
}